/*----------------------------------------Special paddings/ margins/ text/ buttons */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.center {
    text-align: center
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px
}

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.right {
    float: right; 
}

/*-------------------------Navbar--------------------------------*/
.brand-logo {
    margin: 0 20px;
}
/*-------------------------SideNav Image--------------------------------*/
.sidenav-image {
    height: 180px;
}

img {
  width: auto;
  height: 100%; 
}

/*------------------------- Jumbotron --------------------------------*/
.title {
    font-size: 3.5em;
    margin-top: 15%;
    color: white;
}

.subtitle {
    margin: auto 130px;
    color: white;
}

.opaque-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3)
}

/*-------------------------Homepage--------------------------------*/
.card {
    min-width: 300px;
    height: 300px;
    margin: 10px 10px;
}

.card_ingredient_list {
    margin: 5px
}

/*-------------------------Ingredient Selector Dropdown--------------------------------*/
.dropdwonHeight .select-wrapper ul.dropdown-content.active {
    max-height: 240px;
}
