.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px
}
.card {
    width: 300px;
    height: 300px;
    margin: 10px 10px;
}


/*-------------------------SideNav Image--------------------------------*/
.sidenav-image {
    height: 180px;
}

img {
  width: 100%;
  height: auto; 
}


.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.task_header {
    margin-top: 5px;
}

.right {
    float: right; 
}

.brand-logo {
    margin: 10px;
}


/*-------------------------Add Drink--------------------------------*/
.dropdwonHeight .select-wrapper ul.dropdown-content.active {
    max-height: 240px;
}

.switch {
    margin-bottom: 10px;
}

