{% extends 'base.html' %}
{% block content %}

<h3>Add Drink</h3>
<div class="row">
	<form action="" method="POST" class="col s12">
		<div class="row">
			<div class="input-field col s12">
                <i class="material-icons prefix">poll</i>
				<select id="category" name="category_name">
                    <option value="" disabled selected>Choose Category</option>
                    {% for cat in categories %}
                    <option value="{{ cat.category_name }}">{{ cat.category_name }}</option>
                    {% endfor %}
                </select>
				<label>Drink Category</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">assignment</i>
				<input id="drink_name" name="drink_name" type="text" class="validate">
				<label for="icon_prefix">Drink Name</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<i class="material-icons prefix">subject</i>
				<textarea name="instruction" id="instruction" class="materialize-textarea"></textarea>
				<label for="icon_telephone">Instruction</label>
			</div>
		</div>
		<!-- Switch -->
		<div class="row">
			<div class="switch">
				<label>
                    Off
                    <input id="recommend_for" name="recommend_for" type="checkbox">
                    <span class="lever"></span>
                    On
                </label>
			</div>
		</div>
	</form>
</div>

{% endblock %}