{% extends 'base.html' %}
{% block content %}



 <ul class="collapsible" data-collapsible="accordion">
        {% for dri in drink %}
        <li>
            <div class="collapsible-header">

                <div class="col s3">
                    <i class="material-icons">expand_more</i>
                    <a href="{{ url_for('remove_drink', drink_id=dri._id) }}" class="waves-effect waves-light btn btn_small">Remove</a>
                    <a href="{{ url_for('edit_drink', drink_id=dri._id) }}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                    
                </div>
                <div class="task_header col s9">
                    <strong>{{dri.drink_name}}</strong> - {{dri.ingredient_name}}
                </div>

            </div>
            <div class="collapsible-body">
                <span>
                    {{dri.instruction}}
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}


{{dri.category_name}}
{{dri.drink_name}}
{{dri.ingredient_name}}
{{dri.instruction}}
{{dri.general_fitness}}
{{dri.aerobic_exercise}}
{{dri.muscular_strength}}
{{dri.high_energy_sport}}
{{dri.low_energy_sport}}
{{dri.endurance_activities}}
